# Applicazione degli algoritmi

### 1) Importazione dei dati

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [2]:
df_OHE = pd.read_csv('/Users/eliaceccolini/Documents/Uni/Tesi/Dataset_finale/BMI_Tirocinio_preprocessato_OHE.csv')
df_LE = pd.read_csv('/Users/eliaceccolini/Documents/Uni/Tesi/Dataset_finale/BMI_Tirocinio_preprocessato_LE.csv')
df_OHE.drop('Unnamed: 0', axis=1, inplace=True)
df_LE.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df_OHE.head()

,numero_classi_principi_attivi,durata_gg,best_response,worst_response,somm1_ps_ecog,somm2_timepoint,somm2_ps_ecog,somm3_timepoint,somm3_ps_ecog,somm4_timepoint,...,221,222,223,224,225,226,227,228,229,230
0,1,266,3,1,2.0,1.0,2.0,2.0,2.0,26.0,...,0,0,0,1,0,0,0,1,0,0
1,1,0,3,3,1.0,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,1,0,0,0,1
2,1,145,2,2,1.0,7.0,1.0,14.0,1.0,28.0,...,0,0,1,0,0,0,1,0,0,0
3,1,470,4,3,1.0,28.0,1.0,56.0,1.0,105.0,...,0,0,1,0,0,0,1,0,0,0
4,1,712,4,1,0.0,26.0,0.0,35.0,0.0,49.0,...,0,0,1,0,0,0,1,0,0,0

In [4]:
df_LE.head()

,classe_eta,sesso,gruppo_patologia,Patologia,t,n,m,fumatore,consumatore_alcool,numero_classi_principi_attivi,...,somm6_creatinina2,somm6_glucosio,somm6_emoglobina,somm6_ps_ecog,somm1_BMI,somm2_BMI,somm3_BMI,somm4_BMI,somm5_BMI,somm6_BMI
0,5,1,0,17,4,2,1,2,2,1,...,2,2,1,2.0,30.78,30.78,30.78,30.78,30.78,30.78
1,4,1,2,2,5,4,3,2,2,1,...,2,2,1,NaN,24.69,NaN,NaN,NaN,NaN,NaN
2,5,0,1,31,4,1,0,2,2,1,...,0,2,1,1.0,26.56,26.56,25.72,25.72,26.14,26.14
3,4,1,2,1,4,1,0,2,2,1,...,2,2,1,NaN,28.52,28.52,28.52,28.52,28.52,28.52
4,1,0,3,3,2,1,0,0,1,1,...,2,1,1,0.0,23.92,23.92,23.92,23.92,23.92,23.92

***
### 2) Dati nulli

In [5]:
# dataset preprocessato con OHE
null_cols_OHE = [c for c in df_OHE.columns if df_OHE[c].isnull().sum() > 0]
df_OHE.fillna(method='ffill', inplace=True)

# dataset preprocessato con LE
null_cols_LE = [c for c in df_LE.columns if df_LE[c].isnull().sum() > 0]
df_LE.fillna(method='ffill', inplace=True)

***
### 3) Applicazione Naive Bayes e Decision Tree

In [6]:
# dataset preprocessato con OHE
y_OHE = df_OHE['best_response']
X_OHE = df_OHE.drop('best_response', axis=1)
X_OHE_train, X_OHE_test, y_OHE_train, y_OHE_test = train_test_split(X_OHE, y_OHE, test_size=0.2, random_state=0)
NB_OHE = GaussianNB()
DT_OHE = DecisionTreeClassifier(random_state=0)
score_NB_OHE = cross_val_score(NB_OHE, X_OHE_train, y_OHE_train, cv=5)
score_DT_OHE = cross_val_score(DT_OHE, X_OHE_train, y_OHE_train, cv=5)


# dataset preprocessato con LE
y_LE = df_LE['best_response']
X_LE = df_LE.drop('best_response', axis=1)
X_LE_train, X_LE_test, y_LE_train, y_LE_test = train_test_split(X_LE, y_LE, test_size=0.2, random_state=0)
NB_LE = GaussianNB()
DT_LE = DecisionTreeClassifier(random_state=0)
score_NB_LE = cross_val_score(NB_LE, X_LE_train, y_LE_train, cv=5)
score_DT_LE = cross_val_score(DT_LE, X_LE_train, y_LE_train, cv=5)

# stampa degli score di validazione
print('Gli score medi di validazione per il dataset OHE sono:')
print('Naive Bayes='+str(score_NB_OHE.mean()))
print('Decision Tree='+str(score_DT_OHE.mean()))
print()
print('Gli score medi di validazione per il dataset LE sono:')
print('Naive Bayes='+str(score_NB_LE.mean()))
print('Decision Tree='+str(score_DT_LE.mean()))
print()

#modello migliore
DT_OHE.fit(X_OHE_train, y_OHE_train)
DT_LE.fit(X_LE_train, y_LE_train)
print('L\'accuratezza del Decision tree sul dataset OHE Ã¨: ', DT_OHE.score(X_OHE_test, y_OHE_test))
print('L\'accuratezza del Decision tree sul dataset LE Ã¨: ', DT_LE.score(X_LE_test, y_LE_test))

Gli score medi di validazione per il dataset OHE sono:
Naive Bayes=0.23621052631578948
Decision Tree=0.43487719298245614

Gli score medi di validazione per il dataset LE sono:
Naive Bayes=0.18045614035087718
Decision Tree=0.44287719298245615

L'accuratezza del Decision tree sul dataset OHE Ã¨:  0.5368421052631579
L'accuratezza del Decision tree sul dataset LE Ã¨:  0.5368421052631579